* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 80px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */

.logo h2 {
  font-size: 30px;
  color: #2563eb;
  cursor: pointer;
}

/* Menu */

.nav-menu {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-menu li {
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}

.nav-menu li:hover {
  color: #2563eb;
}

/* Right Side */

.nav-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

/* Search */

.search-box {
  display: flex;
  align-items: center;
  background: #f3f4f6;
  border-radius: 8px;
  padding: 10px 15px;
}

.search-icon {
  color: gray;
}

.search-box input {
  border: none;
  background: transparent;
  outline: none;
  margin-left: 10px;
  width: 180px;
}

/* Icons */

.icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
  font-size: 18px;
}

.icon:hover {
  background: #2563eb;
  color: white;
}

.cart {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login */

.login-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: .3s;
}

.login-btn:hover {
  background: #1d4ed8;
}
.logo img{
    width:120px;
    height:auto;
}